desktop-narrow()
	@media (max-width 1100px)
		{block}
		
tablet()
	@media (max-width 768px), (max-height 700px)
		{block}
		
mobile()
	@media (max-width 580px), (max-height 450px)
		{block}
		
mobile-narrow()
	@media (max-width 390px), (max-height 300px)
		{block}