@require "screens"

.progress-bar-root
  display flex
  flex-direction row
  height 4px
  width 100%
  justify-content flex-end
  background-color var(--secondary-color)
  border-radius 2px

  .indicator
    height 100%
    background-color var(--primary-color)
    border-radius 2px
    transition width 0.3s ease-in-out

  +tablet()
    border-radius 0

    .indicator
      border-radius 2px 0 0 2px