@require "math"
@require "screens"

transparency(color, alpha)
  color-mix(unquote('in srgb'), color, rgb(255, 255, 255) (1 - alpha) * 100%)

darken(color, rate)
  color-mix(unquote('in srgb'), color, rgb(0, 0, 0) rate * 100%)

arc-points(r, x1, y1, x2, y2)
  points = ()
  ab = sqrt(pow(x2 - x1, 2) + pow(y2 - y1, 2))
  angle = acos(unit(abs(x2 - x1) / ab, ''))
  sign-dx = abs(x2 - x1) / (x2 - x1)
  sign-dy = abs(y2 - y1) / (y2 - y1)

  from = round(x1)
  to = round(x2)
  for cx in (from..to)
    cx-sized = unit(cx, unit(x1))
    ac-h = (cx-sized - x1) * (y2 - y1) / (x2 - x1)
    ac = sqrt(pow(cx-sized - x1, 2) + pow(ac-h, 2))
    oc = sqrt(pow(r, 2) + pow(ac, 2) - ac * ab)
    cos-aoc = unit((2 * pow(r, 2) - ac * ab) / (2 * oc * r), '')
    ar = sqrt(2 * pow(r, 2) * (1 - cos-aoc))
    rc = r - oc
    cos-car = ar > 0 ? unit((pow(ac, 2) + pow(ar, 2) - pow(rc, 2)) / (2 * ac * ar), '') : 1
    car = cos-car < 1 ? acos(cos-car) : 0deg
    xar = angle - unit((sign-dy * sign-dx), '') * car
    dx = ar * cos(xar)
    dy = ar * sin(xar)

    push(points, join(' ', round(x1 + sign-dx * dx, 2), round(y1 + sign-dy * dy, 2)))
  return unquote(join(',', points))

generate-play-polygon(r, size)
  angle = atan(unit((size / 2) / (size - r), ''))
  corner-dx = r + r * sin(angle)
  corner-dy = r - r * cos(angle)
  vertex-dx = r - r * sin(angle)
  vertex-dy = r * cos(angle)

  polygon(
    arc-points(r, 0%, r, corner-dx, corner-dy),
    arc-points(r, size - vertex-dx, size / 2 - vertex-dy, size, size / 2),
    arc-points(r, size, size / 2, size - vertex-dx, size / 2 + vertex-dy),
    arc-points(r, corner-dx, size - corner-dy, 0%, size - r)
  )

generate-stop-polygon(r, size)
  polygon(
    arc-points(r, 0%, r, r, 0%),
    arc-points(r, size - r, 0%, size, r),
    arc-points(r, size, size - r, size - r, size),
    arc-points(r, r, size, 0%, size - r)
  )

.control-button
  display flex
  justify-content center
  align-items center
  width 150px
  height 150px
  border-radius 50%
  background-color var(--primary-color)
  border none
  padding 0
  cursor pointer
  transition all 0.4s ease-in-out

  &:hover
    box-shadow 0 0 8px rgba(255, 255, 255, 0.4)

    @supports (color: color-mix(unquote('in srgb'), white, white))
      box-shadow 0 0 5px transparency(darken(var(--primary-color), 0.15), 0.9)
      background-color darken(var(--primary-color), 0.15)

  .icon
    width 55%
    height 55%
    background-color var(--background-color)
    transition clip-path 0.5s ease-in-out, transform 0.5s ease-in-out

    &.stop
      clip-path generate-stop-polygon(10%, 100%)

    &.play
      transform translateX(8%)
      clip-path generate-play-polygon(10%, 100%)

  +desktop-narrow()
    width 140px
    height 140px

  +tablet()
    width 110px
    height 110px

  +mobile()
    width 80px
    height 80px

  +mobile-narrow()
    width 64px
    height 64px
