@require "screens"

.states-carousel-root
  font-size 120px
  color var(--text-color)

  +desktop-narrow()
    font-size 92px

  +tablet()
    font-size 70px

  +mobile()
    font-size 56px

  +mobile-narrow()
    font-size 42px
