html
  --primary-color #FD9F49
  --secondary-color #5E5C3B
  --background-color #292928
  --text-color #C9AC73

  font-family 'Ysabeau Infant', sans-serif

html
body
  margin 0
  height 100%
  background-color var(--background-color)

